<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card-columns">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top"
                        src="https://s.turkcell.com.tr/SiteAssets/Bireysel/Kampanya/render/gorseller/her-yone-1000-dakika-kampanyasi/her-yone-1000-dakika-kampanyasi_287x215.png"
                        alt="İmage">
                    <div class="card-body">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <a href="#" class="btn btn-primary cardAttributes">Paket Al</a>
                                </div>
                            </div>
                        </div>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's content.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
