.showPackage{
    background-color: #324d67;
    border: 0;
    height: 40px;
}

@media (max-width: 320px) {
    .showPackage {
      
        font-size:13px;
        height: 40px;
    }
    .form-control{
        margin-left: 10px;
        padding-right: 0px !important;
    }
  }

  @media (max-width: 375px) {
    
    .form-control{
        margin-left: 10px;
        padding-right: 0px !important;
    }
  }