<div class="container" style="padding-top: 10px;">
    <div class="row">
        <div class="[ col-xs-12 col-sm-12 col-sm-12 ]">
            <ul class="event-list">
                <li>
                    <time datetime="2014-07-20 2000">
                        <span class="day">Dijital Servis</span>
                    </time>

                    <img class="imgSize"
                        src="{{childPackage.img}}"
                        alt="Resim">
                    <div class="info">
                        <h2 class="title">{{childPackage.name}}</h2>
                        <p class="desc">{{childPackage.description}}</p>
                    </div>
                    <div class="social">
                        <ul>
                            <li style="padding: 5px 0px 3px;padding-left:23%;padding-right:23%;font-size: 9px;"><button class="buttonStyle" (click)="deletePackageFromCheckout(childPackage)">Değiştir</button></li>
                            <li style="padding: 5px 0px 3px;font-weight: 900;font-size: 9px;padding-right:23%;">Aylık Ödenecek Tutar</li>
                            <li style="padding: 5px 0px 3px;color: #4aa9f8;padding-right:23%;font-size: 11px;"><span style="font-weight: 900;color: #5e8ec6;font-size: 21px;">{{childPackage.amount}}</span>&nbsp;TL/Ay Kdv Dahil</li>
                        </ul>
                    </div>

                    <div class="liste">
                        <hr style="padding-top: 5px;padding-bottom: 5px;">
                        <div class="row justify-content-center">
                            <div class="col-3">  <button class="buttonStyle" style="padding: 10px; margin-top: 5px;"(click)="deletePackageFromCheckout(childPackage)">Değiştir</button></div>
                                <div class="col-3"> Aylık Ödenecek Tutar</div>
                                    <div class="col-3"> <span style="font-weight: 900;color: #5e8ec6;font-size: 21px;">{{childPackage.amount}}</span>&nbsp;TL/Ay Kdv Dahil</div>
                        </div>
                    </div>


                </li>
            </ul>
        </div>
    </div>
</div>