<div class="container card">
    <div class="card-body">
            <div class="col-md-12">
                <div>
                    <div class="offset-md-11">
                        <button class="buttonStyle">Değiştir</button>
                    </div>
                        <div class="row">
                            <div class="col-md-9">

                                <img class="imgSize" src="https://s.turkcell.com.tr/SiteAssets/Bireysel/Kampanya/render/gorseller/her-yone-1000-dakika-kampanyasi/her-yone-1000-dakika-kampanyasi_287x215.png" alt="Resim">
                                <label class="body">YILLIK FİZY PREMİUM ABONELİĞİ</label>
                            </div>
                            
                            <div class="col-md-3">
                                <div class="row offset-md-5 textStyle">

                                    <label class="monthly">Aylık Ödenecek Tutar</label>
                                </div>
                                <div class="row offset-md-9">

                                    <label class="priceText">TL/Ay</label>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
    </div>
</div>

