<div class="container-fluid" style="overflow-x: overlay">
    <div class="d-flex flex-row flex-nowrap">
        <div *ngFor="let user of packages">
            <div class="card">
                <div class="content">
                    <div class="front">
                        {{user.name}}
                    </div>
                    <div class="back">
                        {{user.price}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>