.cardAttributes{
    float: right;
    color: rgb(3, 11, 53);
    background-color: rgba(228, 228, 5, 0.966);
    border: yellow;
    border-radius: 20px;
}

.textPosition{
        padding-top: 20%;
        padding-left: 10%;
}

.textBackgroundColor{
    background-color: darkgray;
}