<div class="container card shadow bg-white rounded">
    <div class="row">
        <div class="textBackgroundColor col-md-2">
            <label for="" class="textPosition">TOPLAM TUTAR</label>
        </div>

        <div class="col-md-10">
            <div class="col-md-12">
                <div>
                    <label>FATURAYA YANSIYACAK TUTAR</label>
                </div>
                <div>
                    <label>{{totalAmount}} &nbsp; TL/AY</label>
                    <button class="cardAttributes" (click)="purchaseOrder()">İşlemi Yap</button>
                </div>
                <div class="offset-md-2">
                    <label style="font-size: x-small;">KDV DAHİL</label>
                </div>
            </div>
        </div>
    </div>
</div>