<div class="navbar topFooter">

</div>

<div class="menu" style="margin:0 auto;">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <span class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <a class="" id="textColor" href="/user">ANASAYFA</a>
        </span>
        <span class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <a class="" id="textColor" href="/package">SEÇİMLER</a>
        </span>
        <span class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <a class="" id="textColor" href="/checkout">SEPETİM</a>
        <button type="button" class="btn btn-circle"><i class="fas fa-shopping-cart cart"></i>{{checkoutLength}}</button>
        </span>
    </div>
</div>