<div class="topFooter">

    <div  class="container" style="padding:0px;margin:0 auto;height: 800%;">
        <a class="" id="textColor" href="/user">
            <img class="logo" src="https://s.turkcell.com.tr/static_lib/assetsv2/common/images/content/turkcell-logo.png">
        </a>
    </div>
</div>
    <div class="container" style="margin-top: 15px;background-color: #324d67; height: 50px;">
        <div class="row justify-content-center " style="padding-top:8px;">
            <div class="col-3 col-sm-3 col-md-3 col-lg-2 col-xl-2">
                <a class="" id="textColor" href="/user">ANASAYFA</a>
            </div>
            <div class="col-3 col-sm-3 col-md-3  col-lg-2 col-xl-2">
                <a class="" id="textColor" href="/package">SEÇİMLER</a>
            </div>
            <div class="col-4 col-sm-3 col-md-3  col-lg-2 col-xl-2">
                <a class="" id="textColor" href="/checkout">SEPETİM</a>
            <button type="button" class="btn btn-circle "><i class="fas fa-shopping-cart text-white cart"><span class="badge badge-pill badge-warning">{{checkoutLength}}</span></i></button>
            </div>

    </div>
        
</div>