.topFooter {
    width: 100%;
    margin: 0 auto;
    background-color: #2855ac;;
}

.topMenu {
    background-color: white;
    border: 1px solid rgb(197, 189, 189);
}

#textColor {
    color: rgb(3, 11, 53);
    font-size: x-large;
}

.menu{
    padding-left: 35%;
    height: 40px;
    border: 1px solid rgb(139, 145, 150);
}

.textStyle{
    color: rgb(3, 11, 53);
    width: 150px;
}

.btn-circle {
    width: 35px;
    height: 26px;
    text-align: center;
    padding: 0px 0;
    font-size: 18px;
    border-radius: 5px;
}

.cart{
    float: left;
}